

<h1>Tweets</h1>

<% @tweets.each do |tweet| %>
  <div class= "pic-and-body">
    <div class = "pic-and-names">
      <div class= "pic">
        <%= image_tag display_photo(tweet.user), class: "tweet-pic" %>
      </div>
      <div class= "names">
        <p class= "username-n"> <% tweet.user.username %> </p>
        <p class= "fullname-n"> <% tweet.user.fullname %> </p>
      </div>
    </div>
    <%= link_to tweet_path(tweet) do %>
      <div class= "body">
        <%= tweet.body %>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to 'New Tweet', new_tweet_path, class: "new_tweet_btn" %>
